h1{
    color: #ff0000;
}

header{
    border-bottom: 1px solid #666;
    height: 80px;
}
header nav ul li{
    list-style: none;
    display: inline-block;
    margin: 2px 4px;
    text-align: center;
    padding: 4px 10px;
    border: 1px solid #444;
}
header nav ul li a{
    text-decoration: none;
    color: #000;
}

main{
    margin: 20px;
}
.form-group{
    margin-bottom: 10px;
}
.form-group label{
    width: 100px;
    margin-right: 10px;
    font-weight: bold;
}

